// Footer
footer
	.row
		.col-lg-12
			p Copyright © Your Website 2014
// /.container


script(src="src/js/jquery.min.js")

script(src="src/js/bootstrap.js")
script(src="src/js/bootstrap-sprockets.js")


script(src="src/js/jquery.slim.js")
script(src="src/js/navigation.js")
script(src="src/js/owl.carousel.js")
script(src="src/js/skip-link-focus-fix.js")

script(src="src/js/main.js")

script.
	jQuery('.carousel').carousel({
	interval: 5000 //changes the speed
	})
